In [ ]:
#These are the libraries you can use.  You may add any libraries directy related to threading if this is a direction
#you wish to go (this is not from the course, so it's entirely on you if you wish to use threading).  Any
#further libraries you wish to use you must email me, james@uwaterloo.ca, for permission.

%pip install numpy-financial yfinance pandas numpy matplotlib --quiet
from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
import random
from datetime import datetime

Note: you may need to restart the kernel to use updated packages.

## Group Assignment
### Team Number: 18
### Team Member Names: Poneesh Kumar, Ian Leung, Vivaan Goel
### Team Strategy Chosen: Market Beat(Market Beat, Market Meet, Risk-Free)

In [16]:
filename = "Tickers_Example.csv"
tickers = pd.read_csv(filename, header=None, names=['Ticker'])
tickers.head()

  Ticker
0   AAPL
1   ABBV
2    ABT
3    ACN
4    AGN

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

Poneesh, Ian, Vivaan

In [ ]:
tickers_df = pd.DataFrame(columns=['Ticker', 'Sector', 'Market Cap', 'Country', 'Market', 'Avg Daily Vol'])

row = 0
for i, ticker_sym in enumerate(tickers['Ticker']):
    ticker = yf.Ticker(ticker_sym)
    try:
        tickers_df.loc[row] = {
            'Ticker': ticker_sym,
            'Sector': ticker.info['sector'],
            'Market Cap': ticker.info['marketCap'],
            'Country': ticker.info['country'],
            'Market': ticker.info['market'],
            'Avg Daily Vol': None
        }
        row+= 1
    except:
        print('')

# temp
# beta, volume, regularMarketVolume, averageVolume, average(Daily)Volume10days/Day, marketCap, 
# currency, earningsQuarterlyGrowth, financialCurrency, market = us_market


def averageDailyVolume(ticker):
    start_date = "2024-10-01"
    end_date = "2025-09-30"

    daily_volume = ticker.history(start=start_date, end=end_date)

    daily_volume = daily_volume['Volume']

    daily_volume.index = daily_volume.index.tz_localize(None)

    daily_volume.index = pd.to_datetime(daily_volume.index)

    daily_volume = daily_volume.sort_index()

    df = daily_volume.to_frame()  # convert Series to DataFrame
    df['YearMonth'] = df.index.to_period('M')

    # 2️⃣ Count trading days per month
    monthly_counts = df.groupby('YearMonth')['Volume'].count()

    # 3️⃣ Keep only months with >= 18 trading days
    valid_months = monthly_counts[monthly_counts >= 18].index

    # 4️⃣ Filter the data to only valid months
    df_valid = df[df['YearMonth'].isin(valid_months)]

    # 5️⃣ Compute monthly average daily volume
    monthly_avg_volume = df_valid.groupby('YearMonth')['Volume'].mean()

    # 6️⃣ Compute overall average daily volume across valid months
    overall_avg_daily_vol = monthly_avg_volume.mean()

    print("Average daily volume (filtered):", overall_avg_daily_vol)

    

'''

daily_volume = opentext.reset_index()

# 4️⃣ Group by YearMonth and count trading days
monthly_counts = data.groupby('YearMonth')['Volume'].count()

# 5️⃣ Keep only months with >= 18 trading days
valid_months = monthly_counts[monthly_counts >= 18].index

# 6️⃣ Filter data to only valid months
data_valid = data[data['YearMonth'].isin(valid_months)]

# 7️⃣ Compute monthly average volume
monthly_avg_volume = data_valid.groupby('YearMonth')['Volume'].mean()

# 8️⃣ Compute the overall average daily volume across valid months
overall_avg_daily_vol = monthly_avg_volume.mean()

print("Average daily volume (filtered):", overall_avg_daily_vol)
'''

tickers_df

,Ticker,Sector,Market Cap,Country,Market,Avg Daily Vol
0,AAPL,Technology,4033205764096,United States,us_market,None
1,ABBV,Healthcare,410545750016,United States,us_market,None
2,ABT,Healthcare,224766574592,United States,us_market,None
3,ACN,Technology,153527779328,Ireland,us_market,None
4,AIG,Financial Services,42275782656,United States,us_market,None
5,AMZN,Consumer Cyclical,2539781619712,United States,us_market,None
6,AXP,Financial Services,251244871680,United States,us_market,None
7,BA,Industrials,147899383808,United States,us_market,None
8,BAC,Financial Services,386082930688,United States,us_market,None
9,BB.TO,Technology,3601202688,Canada,ca_market,None
10,BIIB,Healthcare,24166264832,United States,us_market,None
11,BK,Financial Services,77433643008,United States,us_market,None
12,BLK,Financial Services,165957173248,United States,us_market,None
13,BMY,Healthcare,98998673408,United States,us_market,None
14,C,Financial Services,180125417472,United States,us_market,None
15,CAT,Industrials,259326492672,United States,us_market,None
16,CL,Consumer Defensive,63509860352,United States,us_market,None
17,KO,Consumer Defensive,305715347456,United States,us_market,None
18,LLY,Healthcare,915487850496,United States,us_market,None
19,LMT,Industrials,105482682368,United States,us_market,None
20,MO,Consumer Defensive,97044004864,United States,us_market,None
21,MRK,Healthcare,230654361600,United States,us_market,None
22,PEP,Consumer Defensive,198291668992,United States,us_market,None
23,PFE,Healthcare,146634407936,United States,us_market,None
24,PG,Consumer Defensive,345743097856,United States,us_market,None
25,PM,Consumer Defensive,241512480768,United States,us_market,None
26,PYPL,Financial Services,61126144000,United States,us_market,None
27,QCOM,Technology,186889502720,United States,us_market,None
28,RY.TO,Financial Services,290311602176,Canada,ca_market,None
29,SHOP.TO,Technology,268023431168,Canada,ca_market,None
30,T.TO,Communication Services,31919761408,Canada,ca_market,None
31,TD.TO,Financial Services,194996846592,Canada,ca_market,None
32,TXN,Technology,147405914112,United States,us_market,None
33,UNH,Healthcare,301209452544,United States,us_market,None
34,UNP,Industrials,131373268992,United States,us_market,None
35,UPS,Industrials,81419567104,United States,us_market,None
36,USB,Financial Services,73540280320,United States,us_market,None